<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/resource/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/resource/stylesheets/font-awesome.css" rel="stylesheet" />
  <link href="/resource/stylesheets/style.css" rel="stylesheet">
  <link href="/resource/stylesheets/style-responsive.css" rel="stylesheet">
</head>

<body>
  <section id="container">
    <header class="header black-bg">
        <a class="logo"><b><span>Assistant x Nodejs</span></b></a>
    </header>
    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">
              <h3>Web Chat Room Demo</h3>
            </div>
            <div class="chat-room-content">
              <!-- 對話內容 -->
            </div>
            <footer>
              <div class="chat-txt">
                <input type="text" class="form-control">
              </div>
              <button class="btn btn-theme" onclick="talk()">Send</button>
            </footer>
          </aside>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
  </section>
  <script src="/resource/javascripts/jquery.min.js"></script>
  <script src="/resource/javascripts/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/resource/javascripts/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/resource/javascripts/jquery.scrollTo.min.js"></script>
  <script src="/resource/javascripts/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/resource/javascripts/common-scripts.js"></script>
  <script src="/resource/javascripts/assistant.js"></script>
</body>

</html>
